body {
  margin: 0;
  background: #ffe6f0;
  font-family: 'Segoe UI', sans-serif;
}

.book {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.page {
  min-width: 100%;
  padding: 40px;
  box-sizing: border-box;
  scroll-snap-align: start;
  background: #fff0f5;
  text-align: center;
}

.cover {
  background: linear-gradient(#ffd1e8, #fff0f5);
}

h1, h2 {
  color: #d63384;
}

p {
  font-size: 18px;
  color: #444;
}

img {
  width: 200px;
  margin: 10px;
  border-radius: 15px;
}
